<footer>
  <div>
    <div class="cd-section" id="projects">
      <footer class="footer">
        <div class="container-fluid px-0">
          <div class="row">

            <div class="col-12 col-md-6 col-xl-4 order-1 order-md-1 order-xl-1">
              <p class="caption" style="margin: 20px 0;">
                @2021 Copyright by Ngo Hong Yen </p>
              <p class="caption pb-0">Location: Ho Chi Minh City, VietNam</p>
            </div>

            <div class="col-12 col-md-6 col-xl-2 order-2 order-md-4 order-xl-2">
              <div class="title-footer" id="dropMenuIntro">
                <h4 class="title" style="margin-top: 20px;">About us</h4>
                <div class="button-drop-down" id="dropMenuIntro"><i class="fas fa-chevron-down"></i></div>
              </div>
              <div class="menu-dropdown" data-toggle="dropMenuIntro">
                <div class="content-menu-dropdown">
                  <a class="link-tracking" href="#about-us/quy-che-su-dung-dich-vu">
                    <p class="caption">Term and Conditions </p>
                  </a>
                  <a class="link-tracking" href="#about-us/chinh-sach-bao-mat">
                    <p class="caption">Security</p>
                  </a></div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-3 order-3 order-md-3 order-xl-3">
              <div class="title-footer" id="dropMenuContact">
                <h4 class="title" style="margin-top: 20px;">Contact me</h4>
                <div class="button-drop-down" id="dropMenuContact"><i class="fas fa-chevron-down"></i></div>
              </div>
              <div class="menu-dropdown" data-toggle="dropMenuContact">
                <div class="content-menu-dropdown"><a href="tel:18009090">
                    <div class=" icon-footer icon-call-answer"></div>
                    <p class="caption">(+84)83 8105 494</p>
                  </a><a href="mailto:%20play@galaxy.com.vn">
                    <div class="icon-footer icon-email"></div>
                    <p class="caption">yennhgcs18389@fpt.edu.vn</p>
                  </a><a class="link-tracking" href="#help">
                    <div class="icon-footer icon-question"></div>
                  </a></div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</footer>