<style>
  .cUXgFr {
    position: relative;
    right: 0px;
    margin-right: 2.25rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    transition: all 0.4s ease-in-out 0s;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 44px;
}
.cUXgFr input {
    width: 200px;
    pointer-events: initial;
}

.gvNVZq {
    transition: all 0.3s ease-in-out 0s;
    position: absolute;
    cursor: pointer;
    left: 12px;
    top: 50%;
    transform: translate(0px, -50%);
}

.ixtbYQ {
    background: transparent;
    transition: all 0.4s ease-in-out 0s;
    width: 0px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 1rem;
    border: 0px;
    padding: 0px;
    pointer-events: none;
}

</style>
<div class="nav-all"
  style="position: fixed; background: linear-gradient(rgb(16, 16, 16), rgba(16, 16, 16, 0)); transition: all 0.3s ease 0s;">
  <div class="navbar-main" id="navbar">
    <div class="container-nav">

      <div class="nav-left">
        <div class="logo-nav">
          <a aria-current="page" class="nav-link active" href="/browse">
            <img id="logo" src="/static/assets/img/logo/Logo.svg" width="100" height="56">
          </a>
        </div>

        <div class="navigation">
          <ul>
            <li>
              <a aria-current="page" class="nav-link {% if 'index' in segment %} active {% endif %}"
                href="/browse">Home</a>
            </li>

            <li>
              <a href="/browse/movie-list.html" class="nav-link {% if 'movie-list' in segment %} active {% endif %}">Movie list</a>
            </li>

            <li>
              <a href="/browse/new-arrival.html" class="nav-link {% if 'new-arrival' in segment %} active {% endif %}">New arrival</a>
            </li>
            <li>
              <a href="/browse/mylist.html" class="nav-link {% if 'mylist' in segment %} active {% endif %}">Favorite movie</a>
            </li>
          </ul>
        </div>

      </div>

      <div class="nav-right">
        <div class="search__Control-sc-3ylcj4-2 cUXgFr">
          <input placeholder="Search movie" type="text" class="search__Input-sc-3ylcj4-0 ixtbYQ">
          <div class="search__BoxIconSearch-sc-3ylcj4-1 gvNVZq">
            <div class="icon-search" id="btnSearch">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 2a9 9 0 017.032 14.617l3.675 3.676a1 1 0 01-1.32 1.497l-.094-.083-3.676-3.675A9 9 0 1111 2zm0 2a7 7 0 104.865 12.033.732.732 0 01.078-.09l.09-.078A7 7 0 0011 4z" fill="#FFF" fill-rule="evenodd"></path>
              </svg>
            </div>
          </div>
        </div>
        <div class="dropdown-nav hover">
          <div class="icon-user">
            <img width="40" src="/static/assets/img/avatar3.png">
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.004 492.004" width="30px" height="30px"
            class="arrow-up">
            <g>
              <g>
                <g>
                  <path
                    d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12    c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028    c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265    c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"
                    data-original="#000000" class="active-path" data-old_color="#000000" fill="white"></path>
                </g>
              </g>
            </g>
          </svg>
          <ul>
            <li class="link-info">
              <a class="hr-tag" href="/browse/account.html">
                <img src="/static/assets/img/icon-profile.svg">
                <span>My Account</span>
              </a>
            </li>
            <li class="logout">
              <a href="/">
                <img src="/static/assets/img/icon-logout.svg">
                <span>Logout</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="nav-mb">
      <div class="container-nav-mb">
        <div class="icon-navbar-mb">
          <svg version="1.1" id="Capa_1" fill="white" width="16" xmlns="http://www.w3.org/2000/svg"
            link="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" space="preserve" style="">
            <g>
              <g>
                <path
                  d="M492,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,236,492,236z">
                </path>
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M492,76H20C8.954,76,0,84.954,0,96s8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,76,492,76z">
                </path>
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M492,396H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20 C512,404.954,503.046,396,492,396z">
                </path>
              </g>
            </g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </svg>
        </div>
        <div class="nav-logo-mb">
          <a class="nav-link a-link" href="/">
            <img id="logo" src="//assets.glxplay.io/web/images/logoglx.svg" width="70">
          </a>
        </div>
        <div class="nav-login-mb">
          <div class="search-nav-mb">
            <div class="searchMobile__SearchIcon-sc-4f5kkx-5 kinxzI">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11 2a9 9 0 017.032 14.617l3.675 3.676a1 1 0 01-1.32 1.497l-.094-.083-3.676-3.675A9 9 0 1111 2zm0 2a7 7 0 104.865 12.033.732.732 0 01.078-.09l.09-.078A7 7 0 0011 4z"
                  fill="#FFF" fill-rule="evenodd"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
