<!DOCTYPE html>

<html prefix="og: http://ogp.me/ns# video: http://ogp.me/ns/video#" class="perfect-scrollbar-off">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="”format-detection”" content="”telephone=no”">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/logo/Logo.svg">
  <title> ElCine </title>
  <meta name="description" content="ElCine - Bring theater to home">
  <link type="text/css" href="/static/assets/home/home.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="/static/assets/img/logo/Logo.svg">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

</head>

<body class="coderedcms-custompage parent-page-1 " id="page-4926">

  <div id="name-tracking" data-screen="landing-page" data-id="landing-page"></div>

  <nav class="navbar navbar-expand-xl fixed-top justify-content-between" color-on-scroll="30">
    <a class="navbar-brand order-2 order-xl-1" data-turbolinks="false" href="#" rel="tooltip" data-placement="bottom"
      data-original-title="" title="">
      <img class="logo" width="80" height="50" src="/static/assets/img/logo/Logo.svg" alt="Home">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
      aria-label="Toggle navigation">
      <span>
        <svg version="1.1" id="Capa_1" fill="white" width="16"
          xmlns="http://www.w3.org/2000/svg" link="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
          space="preserve">
          <g>
            <g>
              <path
                d="M492,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,236,492,236z">
              </path>
            </g>
          </g>
          <g>
            <g>
              <path d="M492,76H20C8.954,76,0,84.954,0,96s8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,76,492,76z">
              </path>
            </g>
          </g>
          <g>
            <g>
              <path
                d="M492,396H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20 C512,404.954,503.046,396,492,396z">
              </path>
            </g>
          </g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
        </svg>
      </span>
    </button>

    </div>
    <ul class="search navbar-nav order-3 order-lg-3">
      <li class="nav-item signin px-0"><a id="btn-signup-header" class="nav-link py-2 px-0 px-xl-4 m-0"
          data-turbolinks="false" href="/signin">
          Sign In/ Sign Up
        </a></li>
    </ul>
  </nav>

  <div id="content">
    <div class="wrapper hompage-content">

      <div class="section-landing-page">
        <div class="cd-section slick-initialized slick-slider slick-dotted" id="headers">
          <div class="prev slick-arrow" style="">
            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-left fa-w-8 fa-3x">
              <path fill="currentColor" d="M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z" class=""></path>
            </svg>
          </div>
          <div class="slick-list draggable">
            <div class="slick-track" style="opacity: 1; width: 4128px;">
              
              <div class="item-header slick-slide" style="width: 1376px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms linear 0s;" data-slick-index="0" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00">
                <a href="/title/adele-one-night-only" class="link-detail" tabindex="-1">
                  <img class="bg-header spotlight-web" style="--bgSpotlightMob: url(&quot;https://assets.glxplay.io/web/images/GLX_Web-Mobile_AdeleOneNightOnly_1024x1366.max-375x547.jpg&quot;); opacity: 1;" src="https://assets.glxplay.io/web/images/GLX_Web-PC_AdeleOneNightOnly_1920x1080.max-1920x1080.jpg">
                </a>
                <div class="content-header">
                  <div class="content-title fadeInUp first">
                    <a href="/title/adele-one-night-only" class="link-detail" tabindex="-1">
                      <img alt="Adele: One Night Only" class="" style="opacity: 1;" src="https://assets.glxplay.io/web/images/GLX_Web-Mobile_AdeleONO_Title.max-500x200.png">
                    </a>
                  </div>
                  <a href="/signin" tabindex="-1">
                    <div class="btn-register-now fadeInUp second"> SIGN UP NOW </div>
                  </a>
                  <a href="/signin?subs=redeem" tabindex="-1">
                    <p class="description fadeInUp third"> Bạn có thẻ cào? Đăng ký tài khoản tại <span>đây</span>
                    </p>
                  </a>
                </div>
              </div>
              
              <div class="item-header slick-slide" style="width: 1376px; position: relative; left: -1376px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms linear 0s;" data-slick-index="1" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01">
                <a href="/title/lat-mat-48h" class="link-detail" tabindex="-1">
                  <img class="bg-header spotlight-web" style="--bgSpotlightMob: url(&quot;https://assets.glxplay.io/web/images/GLX_1021_Web--Mobile_LM48h_1024x1366.max-375x547.jpg&quot;); opacity: 1;" src="https://assets.glxplay.io/web/images/GLX_1021_Web-PC_LM48h_1920x1080.max-1920x1080.jpg">
                </a>

                <div class="content-header">
                  <div class="content-title fadeInUp first">
                    <a href="/title/lat-mat-48h" class="link-detail" tabindex="-1">
                      <img alt="Lật Mặt:48h" class="" src="https://assets.glxplay.io/web/images/GLX_1021_Web-PC_LM48h_text.max-500x200.png" style="opacity: 1;">
                    </a>
                  </div>
                  <a href="/signin" tabindex="-1">
                    <div class="btn-register-now fadeInUp second"> SIGN UP NOW </div>
                  </a>
                  <a href="/signin?subs=redeem" tabindex="-1">
                    <p class="description fadeInUp third"> Bạn có thẻ cào? Đăng ký tài khoản tại <span>đây</span>
                    </p>
                  </a>
                </div>
              </div>

              <div class="item-header slick-slide slick-current slick-active" style="width: 1376px; position: relative; left: -2752px; top: 0px; z-index: 999; opacity: 1;" data-slick-index="2" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide02" aria-describedby="slick-slide-control02">
                <a href="#" class="link-detail" tabindex="0">
                  <img class="bg-header spotlight-web" style="--bgSpotlightMob: url('/static/assets/home/img/eternals2_0.jpeg'); opacity: 1;" src="/static/assets/home/img/Slide_big.png">
                </a>
                <div class="content-header">
                  <a href="/signin" tabindex="0">
                    <div class="btn-register-now fadeInUp second"> SIGN UP NOW </div>
                  </a>
                  <a href="/signin?subs=redeem" tabindex="0">
                    <p class="description fadeInUp third"> Can’t wait to watch? Sign up with an email <span>here</span>
                    </p>
                  </a>
                </div>
              </div>

            </div>
          </div>
          <div class="next slick-arrow" id="">
            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-right fa-w-8 fa-3x">
              <path fill="currentColor" d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z" class=""></path>
            </svg>
          </div>
          <ul class="slick-dots" role="tablist">
            <li class="" role="presentation">
              <button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 3" tabindex="-1">1</button>
            </li>
            <li role="presentation" class="">
              <button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 3" tabindex="-1">2</button>
            </li>
            <li role="presentation" class="slick-active">
              <button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide02" aria-label="3 of 3" tabindex="0" aria-selected="true">3</button>
            </li>
          </ul>
        </div>
        <div class="cd-section" id="landing-page-1">
          <div class="container-fluid">
            <div class="row justify-content-between align-items-center">
              <div class="col-12 col-lg-5 d-flex flex-column d-lg-block">
                
                <h2 class="title-landing-page order-0">
                  Beyond the theater
                </h2>
                <div class="group-description order-1">
                  <p class="description">Watching any theater movie at home with suprised price.</p>
                  <p class="description">Watch anywhere, at anytime.</p>
     
                </div><a href="/signin" class="order-4 order-lg-3">
                  <div class="btn-register-now">
                    SIGN UP NOW
                  </div>
                </a>

                <div class="group-partner order-3 order-lg-4">
                  <p class="description">Partner with powerful cinemas in VietNam</p>
                  <div class="list-partner d-flex justify-content-between justify-content-lg-between">
                    <img src="/static/assets/home/img/Logo 1.png" alt="lotte" class="partner-item" width="44" style="--width-mobile: 31px;">

                    <img src="/static/assets/home/img/Logo 2.png" alt="cgv" class="partner-item" width="82" style="--width-mobile: 58px;">
                    <img
                      src="/static/assets/home/img/Logo 3.png" alt="galaxy" class="partner-item" width="84"
                      style="--width-mobile: 60px;">
                      
                    <img src="/static/assets/home/img/Logo 4.png" alt="BHD"
                      class="partner-item" width="100" style="--width-mobile: 70px;"></div>

                  <div class="list-partner d-flex justify-content-between justify-content-around">
   
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-6">
                <div class="row list-posters">
                  <div class="col-4 poster-img"><img src="/static/assets/home/img/Home 1.png"
                      alt="The-Suicide-Squad-poster " class="w-100"></div>
                  <div class="col-4 poster-img"><img src="/static/assets/home/img/Home 2.png"
                      alt="Mother Gamer - Mẹ tôi gánh đội" class="w-100"></div>
                  <div class="col-4 poster-img"><img src="/static/assets/home/img/Home 3.png" alt="Sói Già"
                      class="w-100"></div>
                  <div class="col-4 poster-img"><img src="/static/assets/home/img/Home 4.png"
                      alt="Kẻ Xâm Nhập 2020" class="w-100"></div>
                  <div class="col-4 poster-img"><img src="/static/assets/home/img/Home 5.png"
                      alt="Đẳng cấp thượng lưu" class="w-100"></div>
                  <div class="col-4 poster-img"><img src="/static/assets/home/img/Home 6.png"
                      alt="Ne Zha - Na Tra: Ma đồng giáng thế" class="w-100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cd-section" id="landing-page-2">
          <div class="container-fluid">
            <div class="row justify-content-center align-items-center ">
              <div class="col-12 col-lg-6 col-xl-5">
                <div class="group-super-text d-flex justify-content-center d-lg-block">
                  <div class="wrap-super-text">
                    <div class="super-text">
                      <h3>Relax moment at home</h3>
                    </div>
                    <br>
                    <div class="super-text">
                      <h3>Laptop connects Internet</h3>
                    </div>
                    <br>
                    <div class="super-text">
                      <h3>100+ theater movies can be enjoyed.</h3>
                    </div>
                    <br>
                  </div>
                </div><a href="/signin">
                  <div class="btn-register-now">
                    SIGN UP NOW
                  </div>
                </a>
              </div>
              <div class="col-12 col-lg-6 col-xl-7"><img src="/static/assets/home/Web_homepage_device.png" alt="devices"
                  class="w-100">
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</body>

{% block javascripts %}
  <script src="/static/assets/plugins/jquery/jquery.min.js"></script>
  <script src="/static/assets/home/slider.js"></script>
{% endblock javascripts %}

</html>