.wpcf7-not-valid-tip {
    color: #fff !important;
    font-weight: bold !important;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    border: 2px solid #445383 !important;
}

.site-header .inner_header .title-center-content {
    top: 75px;
    padding: 20px 0;
    background: #445383;
}

.inner_header h1 {
    color: #fff;
    padding: 0;
    margin: 0;
}

.innercontent .block-desc {
    margin-top: 35px;
}

#prices---1 h2 {
    font-size: 2.563rem;
}

#faq---1 h2 {
    font-size: 2.563rem;
}

#reviews---1 h2 {
	font-size: 2.563rem;
	margin-bottom: 1.5rem;
}

.submit input, .simplemodal-close {
    background: #38ceea !important;
    color: #fff !important;
    font-size: 14px !important;
    letter-spacing: 1px;
    font-family: "Lato", Helvetica, Arial, sans-serif !important;
    border: none !important;
}

.forgetmenot {
    display: none;
}

.submit {
    width: 100%;
    text-align: left;
}

.simplemodal-data .title {
    font-size: 16px !important;
    font-weight: bold;
    line-height: 24px;
    font-family: "Lato", Helvetica, Arial, sans-serif !important;
    color: #000 !important;
    margin: -3px -17px 10px;
    border-bottom: 1px solid #ddd;
    padding: 0 18px;
}

.simplemodal-login-fields label {
    font-size: 15px !important;
    line-height: 24px !important;
    font-family: "Lato", Helvetica, Arial, sans-serif !important;
    width: 100%;
    font-weight: bold;
    color: #445383 !important;
}

#simplemodal-login-container form .submit input {
    margin: 12px 0 0 0 !important;
}

#simplemodal-login-container .nav {
    clear: both;
    color: #888;
    padding-top: 16px;
    text-align: left !important;
    font-weight: 800;
}

p.submit input {
    width: 100%;
    border-radius: 3px !important;
}

body #simplemodal-login-container .nav a {
    color: #445383 !important;
    font-size: 14px;
}

body .wpcf7-not-valid-tip {
    color: #fff !important;
    font-weight: 300 !important;
    font-size: 15px !important;
}

#wpcf7-f168-o1 .wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required, #wpcf7-f168-o1 .wpcf7-text {
    width: 100%;
    max-width: 800px;
    padding: 6px 10px !important;
    font-size: 15px;
}

body form .simplemodal-login-fields input.input {
    font-size: 15px !important;
    font-weight: 300;
    padding: 7px 10px !important;
    color: #333 !important;
    border: 1px solid #aaa !important;
    border-radius: 3px !important;
    width: 100% !important;
    letter-spacing: 0.1em;
    font-family: "Lato", Helvetica, Arial, sans-serif !important;
}

body .colors-light .ui-widget-overlay {
    opacity: 0.85;
    background: #ccc !important;
}

body .ui-widget-overlay {

    z-index: 4;
    position: fixed;
}

#simplemodal-login-container {
    width: 400px !important;
}

#loginform, #lostpasswordform {

    box-shadow: none !important;
}

body .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.notshow {
    display: none !important;
}

.ui-widget-overlay.ui-front.notshow {
    display: none;
}

.home .ui-widget-overlay {
    background: none !important;
}

.custom-tool-forms-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ccccccd9;
    z-index: 10001;
}

.custom-tool-form-container {
    position: fixed;
    z-index: 10002;
    height: auto;
    width: 400px;
    left: calc(50% - 200px);
    top: 15%;
}

.custom-tool-form-container form {
    background: #fff;
    border: 1px solid #e5e5e5;
    font-weight: normal;
    margin: 0 auto;
    padding: 16px;
    text-align: left;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 5px;
    -moz-box-shadow: rgba(153, 153, 153, 1) 0 4px 18px;
    -webkit-box-shadow: rgba(153, 153, 153, 1) 0 4px 18px;
    box-shadow: rgba(153, 153, 153, 1) 0 4px 18px;
}

.custom-tool-form-container .nav {
    padding-top: 16px;
}

.custom-tool-form-container .nav a {
    color: #445383 !important;
    font-size: 14px;
    text-align: left !important;
    font-weight: 800;
}

.custom-tool-form-container form .submit input {
    padding: 6px 15px !important;
    margin: 12px 0 0 0 !important;
    font-weight: bold;
    outline: none;
    border: 1px solid #38ceea !important;
}

.custom-tool-form-container form .submit input:focus {
    outline: none;
}

.custom-tool-form-container form .submit input:hover {
    background-color: #39dcf8 !important;
}

.custom-tool-form-container .simplemodal-data .title {
    padding-bottom: 12px;
}

.custom-tool-form-container p {
    margin-bottom: 0;
}

.custom-tool-form-container input.input {
    background: #fbfbfb;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
}

.custom-tool-form-message {
    display: none;
    padding: 8px;
    font-size: 14px;
    margin: 0 0 10px 0;
}

.custom-tool-form-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.custom-tool-form-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

#contact_form form.wpcf7-form > h2 {
    color: #435286;
}

#contact_form form.wpcf7-form > p:nth-child(3) {
    color: #435286;
}

.error-404 .page-content {
    margin: 0.5rem auto 4.5rem;
    box-shadow: none !important;
}

.error-404 .error-404-block {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.error-404 .error-404-block .go-to-main-link {
    font-size: 26px;
}

.site-footer .site-bottom-footer {
    border-top: none;
    display: none;
}
.site-footer .text-center.rights-reserved .footer-nav {
	text-align: center;
}


footer {
    border-top: 1px solid #909aaf;
}

.section-block .block-desc {
    margin-bottom: 2rem;
}

div.wpcf7-response-output.wpcf7-mail-sent-ok {
    display: block;
    color: #425087;
    padding: 8px;
    border: 1px solid #425087;
}

div.wpcf7-response-output.wpcf7-validation-errors {
    display: block;
    color: #425087;
    padding: 8px;
    border: 1px solid #425087;
}

.div.wpcf7 .ajax-loader {
    display: block;
}

.faq-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.faq-block {
    width: 42%;
}

.wpcf7-form input:focus, textarea:focus {
    outline: none;
}

.wpcf7-form textarea {
    border: 1px solid #aaa;
}

.section-block .block-desc {
    text-align: left;
}

.section-block .block-desc p {
    color: #445383;
    width: auto;
    margin-bottom: 16px;
}

.section-block .block-desc ul, .section-block .block-desc ol {
    margin-left: 16px;
}

.site-header .title-center-content.not-front-page h1 {
    font-weight: 500;
    font-size: 36px;
}

.owl-wrapper-outer {
    overflow: hidden;
}

.text-center {
    text-align: center !important;
}

div.wpcf7 .ajax-loader {
    display: block !important;
    margin: 4px auto !important;
}

#wpcf7-f168-o1 > form > p:nth-child(4) {
    margin-bottom: 0;
}

#pricing, #reviews, #faq {
    position: relative;
    height: 1px;
    margin-bottom: -1px;
    top: -50px;
}

#faq---1 {
    padding-bottom: 5rem;
}

footer {
    padding: 0 !important;
}

.rights-reserved {
	padding: 10px 15px 10px 15px;
	background-color: #2e406f;
	color: #f5f7f9;
	font-size: 15px;
	line-height: 1.5;
	border-top: 1px solid #2e406f;
}

@media (max-width: 1199px) {
    .reviews-1 .avatar .stars {
        top: 1rem;
    }
}

@media (min-width: 768px) {
    .v-align-row {
        display: flex;
        align-items: center;
    }

    .v-align-row h2:first-child {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    .section-block {
        padding: 3em 15px 3em;
    }

    .title-center-content {
        padding-bottom: 1em;
    }

    .title-center-content h1 {
        font-size: 2.75em;
    }

.page-template-default .section-block {
	padding: 5em 15px 1em;
}
    #pricing section div.row > h2, #faq section > h2 {
        padding: 22px 0 0 0;
    }

    .wpcf7-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 424px) {
    .custom-tool-form-container {
        width: 100%;
        left: 0;
    }
}

@media (max-width: 480px) {
    .faq-block {
        width: 80%;
    }
}

@media (max-width: 360px) {
    .faq-block {
        width: 95%;
    }
}

body.page-template-default .block-desc {
    padding: 0 100px 0 100px;
}